<% unless logged_in? %>
  <%= render "welcome" %>
<% else %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info", user: current_user %>
      </section>
      <section class="stats">
        <%= render "/shared/stats", user: current_user %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render "shared/feeds" %>
    </div>
  </div>
<% end %>
